html, body {
  height: 100%;
}
#sec-header {
  /*background-color: #357ebd;
  color: #c8e5bc;*/
}

#sec-body {

}

#formPart {
  padding-top: 2em;
  background: #d9edf7;
  height: 100%;
}

#infoPart {
  padding-top: 2em;
  background: #d5f5f6;
  height: 97%;
}

.bodyPart {

}

#indicatorPart {
  background: #edf0c1;
  height: 3%;
}

hr {
  border-color: black;
}

li {
  font-weight: bold;
}
